
    <footer id="footer">
        <div class="footcols">
          <div class="footerline">
            <img width="100px" class="logofooter" src="https://www.cricbuzz.com/images/cb_logo.svg" alt="cricbuzz logo">
          </div>
          <div class="footerline">
            <div  class="heading">MOBILE SITE & APPS</div>
            <ul>
              <li><a href="https://m.cricbuzz.com/" class="link-foot"><i class="fa fa-globe"></i>  m.cricbuzz.com</a></li>
              <li> <a href="https://play.google.com/store/apps/details?id=com.cricbuzz.android" class="link-foot"><i class="fa fa-android"></i>  Android</a></li>
              <li><a href="https://apps.apple.com/app/id360466413" class="link-foot"><i class="fa fa-apple"></i>  iOS</a></li>
            </ul>
          </div>
          <div class="footerline">
           <div class="heading">FOLLOW US ON</div>
           <ul>
            <li><a href="https://www.facebook.com/cricbuzz" class="link-foot"><i class="fa fa-facebook-official"></i> facebook </a></li>
            <li><a href="https://twitter.com/cricbuzz" class="link-foot"> <i class="fa fa-twitter-square"></i>  twitter</a> </li>
            <li><a href="https://www.youtube.com/channel/UCSRQXk5yErn4e14vN76upOw" class="link-foot"><i class="fa fa-youtube"></i>  youtube </a> </li>
            <li><a href="https://in.pinterest.com/cricbuzz/" class="link-foot"> <i class="fa fa-pinterest"></i>  Pinterest </a></li>
           </ul>
          </div>
          <div class="footerline">
            <div class="heading">COMPANY</div>
            <ul>
              <li>Careers</li>
              <li>Advertise</li>
              <li>Privacy Policy</li>
              <li>Terms of Use</li>
              <li>Cricbuzz TV Ads</li>
            </ul>
          </div>
        </div>
        <div class="credits">
          2022 Cricbuzz.com, Times Internet Limited. All rights reserved | <a class="link-foot" href="http://timesofindia.indiatimes.com/" target="_blank">The Times of India</a> | <a class="link-foot" href="http://navbharattimes.indiatimes.com/" target="_blank" rel="noopener noreferrer" class='cb-ftr-cpyrght text-hvr-underline'>Navbharat Times</a>
        </div>
      </footer>
  </body>
</html>
