<%-include("partials/header")-%>
<div class="mid">
    <div class="article-container">
        <div class="article-head">
            <p class="news-time" style="font-weight:bold">T20 WORLD CUP 2022</p>
            <h1 class="article-h1">An MCG spectacle like never before </h1>
            <div class="writer">
                <img class = "writer-img" src="https://www.cricbuzz.com/a/img/v1/48x48/i1/c173097/bharat-sundaresan.jpg" alt="bharat sundaresan">
                <p style="color:#1866DB;font-size: 16px;padding-left: 10px;padding-top: 15px;">Bharat Sundaresan </p>
            </div>
            <br>
            <div class="writer-socials">
                <a href="#"  class="fa fa-facebook fb ico">  Share</a>
                <a href="#" class="fa fa-twitter tw ico">  Tweet</a>
            </div>
        </div>
        <img src="https://www.cricbuzz.com/a/img/v1/980x654/i1/c245694/through-it-all-at-the-mcg-ind.jpg" style="height: 654px;" alt="ind vs pak world cup">
        <p class="news-time" style="padding:10px;">Through it all at the MCG, Indian and Pakistani flags flew side by side, like you've never seen them do before ©Getty</p>
        <div class="article-content">
            <div class="news-para">
                <i>"Oh, is that Virat Kohli?"</i>
            </div>
            <div class="news-para">
                <i>"Mate, that's the King of India."</i>
            </div>
            <div class="news-para">
                It's the day after arguably the greatest sporting spectacle ever played out at the MCG.
                And the two Melburnians stood in the security check queue have just spotted the man largely
                responsible for it. The impromptu coronation for Kohli though is in response to
                the heightened buzz around Terminal T1 at Melbourne's domestic airport on an otherwise
                sleepy Monday (October 24) afternoon.
            </div>
            <div class="news-para">
                The Indian fans notice Kohli and the rest of the players much before the two Aussies do of course.
                And out pop the mobile phones. All of a sudden, the concept of personal space is literally brushed 
                aside as the 20 or so of them nudge and jostle to get through to the other side of the security check 
                before the subject of their unbridled excitement walks away. Some of them get to him while the others 
                have to be content with a wave from Kohli. It doesn't deter them from breaking into "We love you Virat" chants. 
                Much like with the MCG and large parts of Melbourne on Sunday, you could easily have mistaken this Qantas terminal be one anywhere in Mumbai or Bangalore.
            </div>
            <div class="news-para">
                It wasn't always easy to distinguish between the Indian and Pakistani voices as they roared like only they can for nearly eight straight hours, including the roars that went up for every step Kohli or Babar Azam took on the hallowed turf of the MCG before the match even began. But as the state of the match oscillated from favouring one team to the other, you could sense the MCG swaying between sounding like Mumbai's Wankhede Stadium for half hour to the National Stadium in Karachi for the next half. But through it all Indian and Pakistani flags flew side by side, like you've never seen them do before. Not so many together anyway
            </div>
            <div class="news-para">
                Back at the T1 terminal on Monday, you bump into some of the other stars of India's incredible victory. There is obvious joy and the extra spring in the stride that comes from beating Pakistan in a World Cup encounter. But some still seem in a daze, the kind of high that comes from having achieved the improbable. The kind of high that also comes from having been an active part of an event, a happening, that took the world by storm, and will be remembered and replayed forever
            </div>
            <div class="news-para">
                You speak to some of the other players only to realise that they'd felt as privileged as you did for simply having been present at the MCG on Sunday night. That they'd found the rendition of the national anthem, being sung by some 60,000 Indians together, as goosebump-inducing as you did. That they'd rarely felt as overwhelmed as you did by just how much cricket means to the people of both these wonderful countries.
            </div>
            <div class="news-para">
                There were times on Sunday night, where you couldn't help but get emotional. Interestingly, more so when you'd realise the impact that this unabashed passion for cricket, so unique to India and Pakistan, was having on the Australians around you. It's not that they aren't used to passion around their sport. There's no dearth of it. But this was different. This was rawer. This was untamed. And it was being unleashed relentlessly at a level even the great MCG had never dealt with before.
            </div>
            <div class="news-para">
                To the extent that every time the big screen at the far end of the ground called out to the 93,200 gathered around the G to 'Make Some Noise', they somehow managed to raise the decibel levels, when you thought they couldn't be louder. Each time, those around you who've seen countless AFL Grand Finals and Boxing Day Tests here, would talk about it being louder than any roar they've heard before. It was like they were being reintroduced to their avenue of dreams..
            </div>
            <div class="news-para">
                Unfortunately, the handful of folks driving around the Melbourne CBD without the intention of getting to the MCG, were also introduced briefly to the road rules of the subcontinent. The lanes were being looked at no longer as markers for where you should stay but instead opportunities for where you could cut across. You could once more have been anywhere from Mumbai to Karachi, especially with some of the cars armed with Indian or Pakistani flags sticking out from the windows.
            </div>
            <div class="news-para">
                So when your Uber driver asked you if he should "drive the way we would back home?", you had no option but to say yes.
            </div>
            <div class="news-para">
                The scenes around the MCG concourse were as hectic and chaotic as any busy marketplace you'd find in the subcontinent. Barely any elbow room to push your way through and people coming at you from all directions. Everywhere you looked though, there were only happy faces to be found. By this time, the anticipation, which had been growing since the day the fixture was announced last year, had turned fever-pitch and broken all mercury-level records. There was singing, there was dancing, there was chanting and a lot of laughing.
            </div>
            <div class="news-para">
                There is bonhomie on the field and plenty of it off it too. No bad blood. Indians and Pakistanis sitting together. Indians and Pakistanis shouting together. Much like they had on the 6 am flight from Sydney, especially when the air hostess had welcomed us to Melbourne and followed it up with, "And please enjoy the cricket." Never would you have imagined hearing "Pakistan Zindabad" or "India jeetega" on a Sydney-Melbourne flight before.
            </div>
            <div class="news-para">
                And at the MCG, it felt like they'd finally found a common place, hit a common ground, to share their passion, far away from home. Yes, there were pockets of them spread everywhere but you wouldn't have picked them out. There was a togetherness. This wasn't a battle between two countries. This was a battle between two teams. The drama of the finish aside, those who'd made their way into the MCG on Sunday night had won the moment they did so. On a day, India and Pakistan took over the 'G and produced the greatest sporting spectacle it'd ever seen.
            </div>
            <div class="news-para">
                And at the MCG, it felt like they'd finally found a common place, hit a common ground, to share their passion, far away from home. Yes, there were pockets of them spread everywhere but you wouldn't have picked them out. There was a togetherness. This wasn't a battle between two countries. This was a battle between two teams. The drama of the finish aside, those who'd made their way into the MCG on Sunday night had won the moment they did so. On a day, India and Pakistan took over the 'G and produced the greatest sporting spectacle it'd ever seen.
            </div>
            <div class="news-end">
                <p class="news-time">© Cricbuzz</p>
                <div class="writer-socials">
                    <a href="#"  class="fa fa-facebook fb ico">  Share</a>
                    <a href="#" class="fa fa-twitter tw ico">  Tweet</a>
                </div>
            </div>
            <div class="news-end">
                <h4 style="color:black;">COMMENTS</h4>
                <textarea name="comments" id="comment-article" placeholder="Add a comment ..."></textarea>
                <button type="submit" class="btn btn-primary">Post a comment</button>
            </div>
            <div class="news-para">
                
            </div>
        </div>
    </div>
</div>

<%-include("partials/footer")%>