<%-include("partials/header")-%>

<div class="mid">
    <div class="article-container">
        <nav class="navbar" id="head-li">
            <div class="container-fluid">
                <a href="#" class="nav-li">Current Matches</a>
                <a href="#" class="nav-li">Current & Future Series</a>
                <a href="#" class="nav-li">Matches By Day</a>
                <a href="#" class="nav-li">Teams</a>
            </div>
        </nav>
        <div class="live-scores">
            
        </div>
    </div>
</div>


<%-include("partials/footer")-%>
