body {
  background: #E3E6E3;
  font-family: helvetica, "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}
.container-one {
  width: 980px;
  margin: 0 auto;
  background-color: #009270;
  text-align: center;
  display: inline-flex;
  white-space: nowrap;

}
a{
  text-decoration: none;
}
.navbar-brand{
  position: relative;
  padding: 10px 18px 10px 20px;
}
.nav-item{
  display: inline-flex;
  color: #fff;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0;
}
.navbar {
  overflow: hidden;
  font-family: Arial;
}

.nav-item:hover{
  background-color:#016e50 ;
  color: #fff;
}
/* Links inside the navbar */
.container-one a {
  float: left;
  width: fit-content;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow:visible;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  text-align: left;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:2;
}
.divided{
  display: flex;
}
.drop-link{
  width: 100%;
  display: block;
  text-align: left;
  color: #222;
  padding: 6px 15px;
  white-space: nowrap;
}
.extra-link{
  width: 100%;
  display: block;
  color: #222;
  padding: 4px 12px;
  white-space: nowrap;
}

.drop-link:hover {
  background-color: #dddd;
}

.dropdown:hover .dropdown-content{
  display: block;
}

/*lower navigation panel */

.match-container {
  width: 980px;
  margin: 0 auto;
  background-color: #4A4A4A;
  text-align: center;
  display: inline-flex;
  white-space: nowrap;
}
.lower-nav-item{
  display: inline-flex;
  color: #fff;
  padding: 10px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0;
}
.lower-nav-item-head{
  color: #fff;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #333;
  margin: 0;
}
.match-container a{
  text-decoration: none;
  color: #fff;
}
#nav_all{
  justify-content: right;
}
.lower-nav-item:hover{
  background-color: #444;
}
.lower-nav-item-head:hover{
  background-color: #444;
}
